<h1>Nouveau mot de passe de votre compte</p>
    <p>Vous avez demandé un nouveau mot de passe sur notre site, veuillez cliquer sur le lien ci-dessous pour l'activer</p>
    <p><a href="{{ absolute_url(path('activation', {'token': token})) }}">Activer mon compte</a></p>