{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Welcome to Undefined Role Play !</h1>

    Active routes
    <ul>
        <li>/login : renvoie le token</li>
        <li>/logout : OK</li>
        <li>/register : OK (expected : email, password, pseudo, created_at)</li>
    </ul>
</div>
{% endblock %}
